<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="./style.css">
	</head>
	<body>
		<form id="newraven" action="/ravens/<%= thisraven._id %>" method="POST">
		Name:<input type="text" name="name" value="<%= thisraven.name %>"><br>
		Favorite Food:<input type="text" name="favfood" value="<%= thisraven.favfood %>"><br>
		Age:<input type="text" name="age" value="<%= thisraven.age %>"><br>
		<input type="submit" value="Edit">
	</form>
	
	
	</body>
</html>